// Responsive
$large-min: 769px;
$medium-max: 768px;

// Size set
$whole-margin-left: 10%;
$whole-margin-right: 10%;
$whole-width: 80%;

/* Color set */
$keita-lab-white: #ffffff;
$keita-lab-darkwhite: #f0f0f0;
$keita-lab-black: #252525;
$keita-lab-gray: #696969;
$keita-lab-lightgray: #bababa;
$keita-lab-blue: #6490D3;
$keita-lab-yellow: #EACA2A;
$keita-lab-red: #CA3842;
$keita-lab-orange: #D75C36;
$keita-lab-brown: #5C3926;

/* Font family */

// Common
body {
  // margin: 0 $whole-margin-right 0 $whole-margin-left;
  background-color: $keita-lab-white;
  font-size: 16px;
  font-weight: 200;
}
a {
  color: $keita-lab-gray;
  &:hover {
    text-decoration: none;
  }
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}
div.contents {
  width: $whole-width;
  max-width: 900px;
  margin: 0 auto;
}

// loader
section.loader {
  background: $keita-lab-white;
  z-index: 999;
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid $keita-lab-lightgray;
    border-right-color: $keita-lab-darkwhite;
    animation: spin 1s linear infinite;
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100%   { transform: rotate(360deg); }
    }
  }

}


// Header
header {
  width: 100%;
  height: 100px;
  padding: 0;
  section {
    &.logo {
      display: inline-block;
      @media screen and (min-width: $large-min) {
        width: 30%;
      }
      @media screen and (max-width: $medium-max) {
        width: 30%;
        a {
          img {
            width: 175px;
          }
        }
      }
    }
    &.menu {
      @media screen and (min-width: $large-min) {
        display: inline-block;
        text-align: right;
        width: 69%;
        div.menu-item {
          display: inline-block;
          margin: 0 0 0 30px;
          &.left-edge {

          }
        }
      }
      @media screen and (max-width: $medium-max) {
        display: none;
      }
    }
    &.hamburger {
      @media screen and (min-width: $large-min) {
        display: none;
      }
      @media screen and (max-width: $medium-max) {
        display: inline-block;
        float: right;
        width: 40px;
        height: 50px;
        div.hamburger-icon {
          display: inline-block;
          a {
            img {
              width: 40px;
              height: auto;
            }
          }
        }
      }
    }
  }
}
span {
  &::selection {
    background-color: $keita-lab-lightgray;
    color: $keita-lab-white;
  }
  &.single-byte {
    letter-spacing: 0.09em;
    font-size: 1.01em;
    font-family: Noto Sans Japanese, sans-serif;
    &.serif {
      font-family: serif;
    }

  }
  &.double-byte {
    letter-spacing: 0.1em;
    line-height: 2em;
    font-size: 1em;
    font-family: Noto Sans Japanese, sans-serif;
    &.serif {
      font-family: serif;
    }
  }
  &.bold {
    font-weight: bold;
  }
  &.light {
    font-weight: 300;
  }
  &.underline {
    text-decoration: underline;
  }
}
div.headline {
  margin: 0 0 20px 0;
  font-size: 1.5em;
  font-weight: 100;
}

// Top page
section.main {
  section {
    margin: 50px 0 50px 0;
    &.slideshow {
      margin: 0 0 50px 0;
      div.slideshow-item {
        img {
          position: relative;
          width: 100%;
        }
        &.fading {
          position: relative;
          img {
            position: absolute;
            width: 100%;
          }
        }
      }
    }
    &.description {

    }
    &.headline {

    }
    &.lab-theme {
      article {
        div.theme-description {
          margin: 0 0 15px 0;
        }
        div.theme-item {
          margin: 0 0 15px 0;
          div.theme-item-label {
            font-size: 1.1em;
          }
          div.theme-item-description {
            font-size: 0.9em;
          }
        }
      }
    }
    &.contact {
      article {
        &.caption {
          div.caption-item {
            display: inline-block;
            width: 49.5%;
            &.caption-item-access {
              margin: 0;
            }
            &.caption-item-email {
            }
            div.contact-label {
              margin: 0 0 5px 0;
              font-size: 1.1em;
            }
            div.contact-content {
              font-size: 0.9em;
            }
          }
        }
        &.map {
          div.map-wrapper {
            position: relative;
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
