/* Color set */
$keita-lab-black: #252525;
$keita-lab-blue: #6490D3;
$keita-lab-yellow: #EACA2A;
$keita-lab-red: #CA3842;
$keita-lab-orange: #D75C36;
$keita-lab-brown: #5C3926;

/* Font family */

@font-face {
    font-family: 'YuMincho';
    src: url('../font/YuMincho.ttc') format('ttc');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: thin;
    font-weight: 200;
    src: url('../font/NotoSansCJKjp-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: light;
    font-weight: 300;
    src: url('../font/NotoSansCJKjp-Light.woff') format('woff')

}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('../font/NotoSansCJKjp-DemiLight.woff')  format('woff');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url('../font/NotoSansCJKjp-Regular.woff')  format('woff');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 600;
    src: url('../font/NotoSansCJKjp-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: bold;
    font-weight: 800;
    src: url('../font/NotoSansCJKjp-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 1000;
    src: url('../font/NotoSansCJKjp-Black.woff') format('woff');
}
@font-face {
  font-family: 'Lato', 'Noto Sans Japanese', 'sans-serif';
}

/* Common */
body {
    color: #4D4D4D;
    
    font-family: 'Noto Sans Japanese' sans-serif;
    font-size: 14px;
}
p {
   line-height: 200%; 
}
h1, h2, h3, h4, h5, h6 {
  font-family:  'Noto Sans Japanese',sans-serif;
  font-size: 35px;
}
h1 {
  font-weight: 800;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 800;
  font-size: 16px;
}
h3 {
  font-weight: 300;
  font-size: 14px;
}
h4 {
  font-weight: 400;
  font-size: 20px;
}
h5 {
  font-weight: 500;
        
text-decoration: underline;
    font-family:  'YuMincho',sans-serif;
  font-size: 16px;
}
h6 {
  font-weight: 300;
  font-size: 10px;
}

/* Menu header */
.n{ 
    font-size: 12px;
     margin-top:40px;
     margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    width:898px;
    
    .simg{
    
        margin-bottom: -20px;
    
    }
    a{
       color: #696969;  
    }
    a:hover{
        
     text-decoration: none;
     color:#9A9A9A;
     background-color:#ffffff;
    }
    
    ul{
       
       text-align:right;
        
    }
    
    li{
        display: inline-block;
        margin-left: 30px;
        
    }
}
/*
nav {
  background: #fff;
  width:900px;
  left:50%;
  margin-left:-450px;
    
  .menu {
      width: 100%;

    a {
      color: #696969;
      background-color: #fff;
        
      display: block;
      text-decoration: none;
      font-size: 12px;
      font-weight:400;

      @media(max-width: 768px) {
        padding-bottom: 2px;
      }
    }

    .navbar-menu {
      padding :70px 0 2px 0;
      float: right;
      li {
        float: left;
      }

      @media(max-width: 768px) {
        float: left;

        ul {
          margin: 0;
        }
      }
    }

    .navbar-brand {
      padding :50px 40px 2px 10px;
      vertical-align: middle;
      font-family: 'Noto Sans Japanese', sans-serif;
      font-weight: 400;
      font-size: 40px;
    }
  }
}
*/
div.main {
  padding: 0;
}

.swiper-container {
  border-radius:6px;
  width: 900px;
  height: 400px;
  margin-top: -10px;
}

.swiper-wrapper {
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }

}


/* Index.html */
div.swiper-container {
   max-width: none !important;
}



/*紹介文など*/
div.container {
  width:928px;
  max-width: none !important;
  margin-top: 40px;

    
  div.introduce {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }
  div.news-container {
    margin-top: 15px;
    margin-left: 1%;
    margin-right: 1%;
  }
  div.contact-container {
    margin-top: 0px;
  }
}

/* Member Profile */
div.profile-container {
  margin-bottom: 15px;
  background-color: #fff;
  img.profile-thumbnail {
    border-radius:3px;
    float: left;
  }
  div.profile-name {
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 0px;
    font-size: 16px;
    font-weight: 300;
    // font-style: thin;
    text-align: left;
    float: left;
  }
}

/* Project */
div.project-container {
 border-radius:3px;
  width: 240px;
  height: 250px;
  margin: 20px 0px 20px 0px;
  vertical-align: top;
  img.project-thumbnail{
    border-radius:3px;
  }
  .project-thumbnail-trimming {
    width: 240px;
    height: 135px;
    display: block;
    overflow: hidden;
      }  
  .project-thumbnail {
    width: 240px;
    height: auto;
  }
  .project-title {
    margin-top: 10px;
    font-family: normal;
    font-size: 16px;
  }
  .project-author {
      color:#6A6A6A;
      margin-top: -2px;
    font-size: 12px;
  }
  .project-brief {
      
   color:#9A9A9A;
    margin-top: 5px;
    font-size: 12px;
  }
}
    
/* credit */
footer {
  div.credit {
    width: 100%;
    height: 200px;
    text-align: center;
    vertical-align: middle;
  }
}
