<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="明治大学,総合数理,先端メディアサイエンス,FMS,keita lab,渡邊恵太,keita watanabe,smooon,Integlass,LiveTexture,渡邊研究室,ユーザーインタフェース,UI,UX,自己帰属感">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Keita Watanabe Laboratory</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Khula:300,600,400,700' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="css/keita-lab.css">

  <meta property="og:title" content="Keita Watanabe Laboratory" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://keita-lab.jp" />
  <meta property="og:image" content="http://keita-lab.jp/image/top/top-03.jpg" />
  <meta property="og:description" content="自己帰属感・インタラクションデザイン・ユーザーインタフェース(UI)などに関して研究している、渡邊恵太研究室のウェブサイトです。明治大学総合数理学部先端メディアサイエンス学科(FMS)所属。" />
  <meta content="自己帰属感・インタラクションデザイン・ユーザーインタフェース(UI)などに関して研究している、渡邊恵太研究室のウェブサイトです。明治大学総合数理学部先端メディアサイエンス学科(FMS)所属。" name="description">
  <meta property="og:site_name" content="Keita Watanabe Laboratory"/>
  <meta content="summary" name="twitter:card" />
  <meta content="@keita_lab" name="twitter:site" />
  {% block head %}
  {% endblock %}
</head>
<body>
  <section class="loader">
    {% include "_loading.html" %}
  </section>
  <div class="contents" style="display:none;">
    <!-- Menu bar -->
    <header>
      {% include "_header.html" %}
    </header>
    <section class="top-image">
      {% block topimage %}
      {% endblock %}
    </section>
    <section class="main">
      {% block main %}
      {% endblock %}
    </section>
    <hr>
    <!-- footer -->
    <footer>
      {% include "_footer.html" %}
    </footer>
  </div>
  <script src="js/jquery.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- <script src="js/ie10-viewport-bug-workaround.js"></script> -->
  <script src="js/keita-lab.js"></script>

</body>
</html>
