{% extends "_layout.html" %}

{% block main %}
<section class="container">
  <div class="headline">
    <span class="single-byte">News</span>
  </div>
  <article class="pinned-news">
    <div class="pinned-news-image">
      <a href="{{ news[0].detail_page }}">
        <img src="{{ news[0].images[0] }}" alt="" />
      </a>
    </div>
    <div class="pinned-news-title heading">
      <span class="double-byte">{{ news[0].title }}</span>
    </div>
    <div class="pinned-news-date">
      <span class="single-byte">{{ news[0].date }}</span>
    </div>
    <div class="pinned-news-text paragraph">
      <span class="double-byte">{{ news[0].text|truncate(100, True) }}</span>
      <a href="{{ news[0].detail_page }}">→</a>
    </div>
  </article>
</section>
{% endblock %}
