{% extends "_layout.html" %}

{% block main %}
<!-- Slideshow -->
{{ images }}
{% set images = ['03.jpg', '02.jpg', '04.jpg', '05.jpg', '06.jpg', '07.jpg', '08.jpg'] %}
<section class="slideshow">
  {% for image in images %}
  <div class="slideshow-item">
    <img src="image/top/top-{{ image }}" alt="" />
  </div>
  {% endfor %}
</section>

<!-- main container -->
<section class="description">
  <div class="headline">
    <span class="double-byte">こんにちは&nbsp;渡邊研究室です。</span>
  </div>
  <article class="">
    <div class="">
      <span class="single-byte">2013</span><!--
      --><span class="double-byte">年</span><!--
      --><span class="single-byte">4</span><!--
      --><span class="double-byte">月、東京都中野に明治大学</span><!--
      --><span class="single-byte">4</span><!--
      --><span class="double-byte">つめのキャンパスが完成しました。</span><!--
      --><span class="double-byte">同時に発足した総合数理学部先端メディアサイエンス学科、通称</span><!--
      --><span class="single-byte">FMS</span><!--
      --><span class="double-byte">、そこに私たち渡邊研究室は所属しています。</span><!--
      --><span class="double-byte">インタクラションデザイン、ユーザーインターフェースなどを得意としています。</span>
    </div>
  </article>
</section>
<hr>
<section class="lab-theme">
  <div class="headline">
    <span class="double-byte">研究内容</span>
  </div>
  <article class="">
    <div class="theme-description">
      <span class="double-byte">渡邊研究室では、主に以下のような</span><!--
      --><span class="single-byte">3</span><!--
      --><span class="double-byte">つのテーマで研究をしています。</span>
    </div>
    <div class="theme-item">
      <div class="theme-item-label">
        <span class="single-byte bold serif underline">1</span><!--
        --><span class="single-byte bold serif underline">.&nbsp;Sense&nbsp;of&nbsp;Self-Ownership&nbsp;:&nbsp;</span><!--
        --><span class="double-byte serif underline">自己帰属感の高い道具</span><!--
        --><span class="single-byte serif underline">/</span><!--
        --><span class="double-byte serif underline">身体・知覚拡張研究</span>
      </div>
      <div class="theme-item-description">
        <span class="double-byte">情報と身体を結びつける自己帰属感とそのインタラクション手法についての研究。</span>
      </div>
    </div>
    <div class="theme-item">
      <div class="theme-item-label">
        <span class="single-byte bold serif underline">2</span><!--
        --><span class="single-byte bold serif underline">.&nbsp;Human&nbsp;Internet&nbsp;Interaction&nbsp;:&nbsp;</span><!--
        --><span class="double-byte serif underline">次のインターネット体験をつくる</span>
      </div>
      <div class="theme-item-description">
        <span class="double-byte">ディスプレイを越えたインターネットのインターフェースの研究。</span>
      </div>
    </div>
    <div class="theme-item">
      <div class="theme-item-label">
        <span class="single-byte bold serif underline">3</span><!--
        --><span class="single-byte bold serif underline">.&nbsp;Inprovised&nbsp;Creation&nbsp;:&nbsp;</span><!--
        --><span class="double-byte serif underline">「今ここで作れる」即応創造環境の研究</span>
      </div>
      <div class="theme-item-description">
        <span class="double-byte">今欲しい、必要なもの、アイデアをすぐに形にする環境の研究。</span>
      </div>
    </div>
  </article>
</section>
<hr>
<section class="contact">
  <div class="headline">
    <span class="double-byte">コンタクト</span>
  </div>
  <article class="caption">
    <div class="caption-item caption-item-access">
      <div class="contact-label">
        <span class="double-byte">アクセス</span>
      </div>
      <div class="contact-content">
        <span class="double-byte">東京都中野区中野</span><!--
        --><span class="single-byte">4-21-1&nbsp;1108</span><!--
        --><span class="double-byte">号室</span>
      </div>
    </div>
    <div class="caption-item caption-item-email">
      <div class="contact-label">
         <span class="single-byte">Email</span>
      </div>
      <div class="contact-content">
        <span class="single-byte">watanabe[a]gmail.com</span>
      </div>
    </div>
  </article>
  <article class="map">
      <div class="map-wrapper">
        <img src="image/top/map.png" alt="" />
      </div>
  </article>
</section>

{% endblock %}
