{% extends "_layout.html" %}

{% block main %}
<div class="container">
  <h1>Project</h1>
  <h2>2015</h2>
  <div class="row">
    {% for project in projects[2015] %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="project-container">
        <a href="{{ project.link }}" class="project-thumbnail-trimming">
          <img class="project-thumbnail" src="image/projects/{{ project.image }}" alt="{{ project.title_ja }}"/>
        </a>
        <div class="project-title">{{ project.title_ja }}</div>
        <div class="project-author">{{ project.author_en }}</div>
        <div class="project-brief">{{ project.brief_en }}</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <h2>2014</h2>
  <div class="row">
    {% for project in projects[2014] %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="project-container">
        <a href="{{ project.link }}" class="project-thumbnail-trimming">
          <img class="project-thumbnail" src="image/projects/{{ project.image }}" alt="{{ project.title_ja }}"/>
        </a>
        <div class="project-title">{{ project.title_ja }}</div>
        <div class="project-author">{{ project.author_en }}</div>
        <div class="project-brief">{{ project.brief_en }}</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <h2>2013</h2>
  <div class="row">
    {% for project in projects[2013] %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="project-container">
        <a href="{{ project.link }}" class="project-thumbnail-trimming">
          <img class="project-thumbnail" src="image/projects/{{ project.image }}" alt="{{ project.title_ja }}"/>
        </a>
        <div class="project-title">{{ project.title_ja }}</div>
        <div class="project-author">{{ project.author_en }}</div>
        <div class="project-brief">{{ project.brief_en }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
