{% extends "_layout.html" %}

{% block main %}
<h1>Project</h1>
<div class="container">
  {% for project in projects[2013] %}
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 post-wrap">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="#"><img src="image/arctanbler.jpg" alt="Project" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>{{ project.name }}</h3>
        <p>
        {{ project.author }}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
