{% extends "_layout.html" %}

{% block main %}
<section class="container">
  <div class="headline">
    <span class="single-byte">Project</span>
  </div>
  <article class="project-list">
    {% for i in range(2015, 2012, -1) %}
    {% for project in projects[i] %}
    <div class="project-item">
      <div class="project-thumbnail">
        <img src="/image/projects/{{ project.image }}" alt="" />
      </div>
      <div class="project-filter" style="display:none;">
        <div class="project-year">
          <span class="single-byte">2015</span>
        </div>
        <div class="project-title">
          <span class="single-byte">{{ project.title_en }}</span>
        </div>
        <div class="project-author">
          <span class="single-byte">{{ project.author_en }}&nbsp;{{ project.lastname_en }}</span>
        </div>
        <div class="project-brief">
          <span class="single-byte">{{ project.brief_en }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </article>
</section>

{% endblock %}
