@import "_variables";

// header
body {
  header {
    margin: 0 auto $block-margin-bottom auto;
    padding: 0;
    @media screen and (min-width: $large-min) {
      height: 50px;
    }
    @media screen and (max-width: $medium-max) {
      height: 20px;
    }
    section {
      &.header {
        div {
          &.logo {
            display: inline-block;
            @media screen and (min-width: $large-min) {
              width: 30%;
            }
            @media screen and (max-width: $medium-max) {
              width: 30%;
              margin: 0;
              a {
                img {
                  width: 175px;
                }
              }
            }
          }
          &.menu {
            @media screen and (min-width: $large-min) {
              display: inline-block;
              text-align: right;
              width: 69%;
              div.menu-item {
                display: inline-block;
                margin: 0 0 0 13px;
                &.left-edge {

                }
                a {
                  font-size: $small-single-byte-pc;
                }
              }
            }
            @media screen and (max-width: $medium-max) {
              display: none;
            }
          }
          &.hamburger {
            @media screen and (min-width: $large-min) {
              display: none;
            }
            @media screen and (max-width: $medium-max) {
              display: inline-block;
              float: right;
              width: 30px;
              height: 30px;
              margin: 0;
              div.hamburger-icon {
                display: inline-block;
                margin: 0 0 0 0;
                a {
                  display: inline-block;
                  div.hamburger-container {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    span.hamburger-stuff {
                      display: block;
                      position: absolute;
                      background: $keita-lab-lightgray;
                      width: 30px;
                      height: 2px;
                      margin: 0 0 8px 0;
                      border-radius: 2px;
                      transition: 0.3s;
                      &.hamburger-top {
                        // -webkit-transform: -webkit-translateY(10px);
                        top: 25px;
                      }
                      &.hamburger-middle {
                        // -webkit-transform: -webkit-translateY(20px);
                        top: 35px;
                      }
                      &.hamburger-bottom {
                        // -webkit-transform: -webkit-translateY(30px);
                        top: 45px;
                      }
                    }
                  }
                }
                &.cross {
                  a {
                    div.hamburger-container {
                      span.hamburger-stuff {
                        position: absolute;
                        top: 35px;
                        &.hamburger-top {
                          transform: rotate(45deg);
                        }
                        &.hamburger-middle {
                          background: rgba(0, 0, 0, 0);
                        }
                        &.hamburger-bottom {
                          transform: rotate(-45deg);
                          -webkit-transform: rotate(-45deg);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      // Hamburger
      &.expanded-menu {
        @media screen and (min-width: $large-min) {
          display: none;
        }
        @media screen and (max-width: $medium-max) {
          &.inactive {
            display: block;
            position: relative;;
            width: 100%;
            height: 0;
            div.expanded-menu-list {
              display: none;
              div.expanded-menu-item {
                display: none;
              }
            }
          }
          &.active {
            display: block;
            position: relative;;
            z-index: $z-expand-menu;
            width: 100%;
            background: $keita-lab-white;
            div.expanded-menu-list {
              display: block;
              text-align: center;
              div.expanded-menu-item {
                border-bottom: solid 1px $keita-lab-lightgray;
                a {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  color: $keita-lab-gray;
                  font-size: 20px;
                  line-height: 4em;
                }
              }
            }
          }
        }
      }
    }
  }
}
