@import "_variables";
// Loader
section.loader {
  background: $keita-lab-white;
  z-index: $z-loader;
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid $keita-lab-lightgray;
    border-right-color: $keita-lab-darkwhite;
    animation: spin 1s linear 0s infinite;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
